body{
background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(2,23,59,1) 0%, rgba(77,5,87,1) 17%, rgba(82,31,87,1) 42%, rgba(181,146,76,1) 72%, rgba(145,181,179,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(2,23,59,1)), color-stop(17%, rgba(77,5,87,1)), color-stop(42%, rgba(82,31,87,1)), color-stop(72%, rgba(181,146,76,1)), color-stop(100%, rgba(145,181,179,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(2,23,59,1) 0%, rgba(77,5,87,1) 17%, rgba(82,31,87,1) 42%, rgba(181,146,76,1) 72%, rgba(145,181,179,1)rgba(145,181,179,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(2,23,59,1) 0%, rgba(77,5,87,1) 17%, rgba(82,31,87,1) 42%, rgba(181,146,76,1) 72%, rgba(145,181,179,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(2,23,59,1) 0%, rgba(77,5,87,1) 17%, rgba(82,31,87,1) 42%, rgba(181,146,76,1) 72%, rgba(145,181,179,1) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(2,23,59,1) 0%, rgba(77,5,87,1) 17%, rgba(82,31,87,1) 42%, rgba(181,146,76,1) 72%, rgba(145,181,179,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#91b5b3', GradientType=0 );

}
#conteudo{
    margin-bottom: 280px;
}

#perfil{
    box-sizing: border-box;
    border: 10px solid rgba(2,23,59,1);
    box-shadow: 4px 7px 10px;
    width: 130px;
    height: 130px;
    border-radius:50%;
}

.card{
    background-color: transparent;
    border: none;
}

p{
    color: white;
    text-align: center;
}

.card-mais-alto{
    height: 300px;
}
.card-medio{
    height: 250px;

}

a:hover{
    color: rgba(82,31,87,1);
}

.fa-facebook, .fa-twitter-square, .fa-instagram,.fa-500px,.fa-envelope{
    font-size: 40px;
}
.nav-link{
    margin-bottom: 15px;
    box-shadow: 1px 2px 7px; 
    text-align: center;
    padding: 0px;
    margin-right:7px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:rgb(40, 12, 53);
    border: 1px solid rgb(45, 12, 48);
}

.img-media{
    height: 200px;
}
.nav{
   display: flex;
   justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(59, 24, 1, 0.8);
}

.overlay:hover {
    opacity: 1;
    color: white;
    text-align: center;
    padding-top: 30%;
    font-size: 22px;
    text-shadow: 1px 1px 2px grey;
}
.overlay:hover {
    opacity: 1;
    color: white;
    text-align: center;
    padding-top: 30%;
    font-size: 22px;
    text-shadow: 1px 1px 2px grey;
}
.biografia{
    font-size: 25px;
}
#grande:hover{
     opacity: 1;
    color: white;
    text-align: center;
    padding-top: 75%;
    padding-right: 2px;
    padding-left: 2px;
    font-size: 22px;
    text-shadow: 1px 1px 2px grey;
}


